#titlething{
    font-size: 30px;
    border-width: 15px;
    border-style:outset;
    border-color:rgb(48, 255, 203);
    width: 30%;
    font-family: 'Zen Antique Soft', serif;
    background-color:rgb(238, 238, 238);

}

#snapbtn{
    font-size: 20px;
    border-width: 10px;
    border-style: double;
    font-family: 'Josefin Sans', sans-serif;

}

canvas{
    border-style: double;
    border-width: 10px;
    animation-name: colors;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes colors{
 from{box-shadow: 5px 5px 35px rgb(226, 33, 33);} 
to{box-shadow: 5px 5px 35px rgb(58, 74, 218);} 

0% {box-shadow: 5px 5px 40px rgb(199, 32, 32);}
25% {box-shadow: 5px 5px 40px rgb(226, 214, 38);}
50% {box-shadow: 5px 5px 40px rgb(47, 190, 66);}
75% {box-shadow: 5px 5px 40px rgb(61, 75, 202);}
100% {box-shadow: 5px 5px 40px rgb(179, 67, 194);}

}
